certifi==2025.4.26
charset-normalizer==3.4.2
correlation==1.0.0
cycler==0.11.0
-e git+https://github.com/Algolzw/BSRT.git@da8d5154478a1214bccdf7a54c716dad3a015985#egg=DCNv2&subdirectory=code/real/bsrt/model/DCNv2
fonttools==4.38.0
future==1.0.0
idna==3.10
imageio==2.31.2
kiwisolver==1.4.5
lpips==0.1.4
matplotlib==3.5.3
numpy==1.21.6
opencv-python==4.11.0.86
packaging==24.0
pandas==1.3.5
Pillow==9.5.0
pkg_resources==0.0.0
protobuf==4.24.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytorch-msssim==1.0.0
pytz==2025.2
requests==2.31.0
scipy==1.7.3
six==1.17.0
tensorboardX==2.6.2.2
timm==0.4.12
torch==1.6.0+cu101
torchsummaryX==1.3.0
torchvision==0.7.0+cu101
tqdm==4.67.1
typing_extensions==4.7.1
urllib3==2.0.7
